<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../assets/img/saads.png" />
    <ion-card-header>
      <ion-card-subtitle>Eventos</ion-card-subtitle>
      <ion-card-title>Semana Acadêmica de Análise e Desenvolvimento de Sistemas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Semana Acadêmica de Análise e Desenvolvimento de Sistemas acontecerá nos dias xx, xy, e xz de Setembro, nas dependências do IFSul - Campus Bagé.
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="abreCadastro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
