<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Página Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <img src="../../assets/img/ifsul.png" />
    <ion-card-header>
      <ion-card-subtitle>Eventos</ion-card-subtitle>
      <ion-card-title>Eventos do IFSul - Campus Bagé</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicativo sobre os eventos que serão realizados no IFSul - Campus Bagé
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="abreContato()">
      <ion-icon name="contact"></ion-icon>
    </ion-fab-button>
  </ion-fab>  
</ion-content>
